body{ 
  margin:0px;
  padding: 0px;
}


body.login{
  background: rgba(0, 0, 0, 0) url("../images/login-background.png") no-repeat center 10px fixed;
  -webkit-background-size: cover;
  background-size: cover;
}


form{
    margin-top: 130%;
}
 
/*
.logo{
    margin: 30% auto 55% auto;
    text-align: center;
}


.form{
   width: 90%;
   text-align: center;
}


.logo img{
    width: 155px;
}

.loginData{ 
  background: #F3F2F3;
  width: 95%;
  padding: 40px 10px 10px 10px;
  border-radius: 10px;
  margin: auto;
}

.loginData input{
    background: none;
}

.login-input{
  margin-bottom: 20px;
}

.login-input,
.login-input:focus,
.login-input:active,
input[type="text"],
input[type="text"]:focus,
input[type="text"]:active {
  border-bottom-width: 2px !important;
  border-bottom-color: #DAD9DA !important;
}

input.ico-mail{
    background: rgba(0, 0, 0, 0) url("../image/login-email.png") no-repeat scroll 10px center;
    background-size: 11%;
    padding-left: 50px;
}

input.ico-pass{
    background: rgba(0, 0, 0, 0) url("../image/home-contrasenyes.png") no-repeat scroll 13px center;
    background-size: 9%;
    padding-left: 50px;
}

.bg-primary{
  background: #E18560;
}

.cblanco{ color : #FFF; }

#btn-login{
  border-radius: 10px;
  margin: auto;
  color : #FFF;
}

.remember{
  margin: 10px;
  display: block;
  text-align: center;
  color: #9B9B9B;
}

.header-bar ~ .content {
    margin-bottom: 72px;
    margin-top: 52px;
}
 
*/